{% extends "base/base.html" %}

{% block title %}Bienvenido{% endblock %}

{% block content %}
<!DOCTYPE html>
    <html>
<head>
</head>
    {% if user.is_authenticated %}
<!--h2 align="center">Área para miembros</h2>

<p>
    <h3>Bienvenido</h3>
    Hola <b> user.first_name}}</b>,
    esta página es exclusiva para usuarios registrados.
</p-->

<body>

<!--script src="/static/js2/vendor/jquery-1.11.2.min.js" type="text/javascript"></script>
<script src="/static/js2/vendor/bootstrap.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/static/lib/bootstrap/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function(){
        $('.carousel-inner').carousel()
    });
</script-->

<div class="col s12">
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center blue-text">Bienvenido (a)</h1>
      <div class="row center">
          <h5 class="header col s12 light">Hola <b> {{ user.first_name }} </b>
              esta pagina es exclusiva para usuarios registrados</h5>
      </div>
      <center>
        <a href="{% url 'cursos:cursolistar' %}" id="download-button" class="btn-large waves-effect waves-light blue-grey">Iniciar</a>
      </center>
      <br><br>

    </div>
  </div>


    </body>
        </html>
    {% else %}
<body>

 <!--div class="page-header header-filter" data-parallax="true" style="background-image: url('/static/img2/portfolio_big_3.jpg')"></div-->

 <!-- Wrapper for slides >
                    <img src="/static/img2/portfolio_2.jpg" alt="First slide"-->
                    <!-- Static Header -->
                    <div class="header-text hidden-xs">
                        <div class="col-md-12 text-center">
                               <h2 align="center">Registrate ó inicia sesión</h2>
                                 <h3 class="center"><a href="{% url 'bienvenida' %}">Open<em>mind</em></a></h3>
                            <h2> SISTEMA TUTOR INTELIGENTE</h2>
                            <br>
                            <br>
                            <br>
                            <br>
                            <!--div class="fixed-action-btn" style="width: 1300px; height: 400px;">
                                <a class="btn-floating btn-large gradient-45deg-blue-indigo tooltipped" data-position="top" data-tooltip="Iniciar sesion" href="{% url 'sign_in' %}"><i class="material-icons">account_box</i></a> &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;
                                <a class="btn-floating btn-large gradient-45deg-green-teal tooltipped" data-position="top" data-tooltip="Registrar" href="{% url 'sign_up' %}"><i class="material-icons">person_add</i></a>
                            </div-->
                            <br>
                            <br>
                            <br>
                            <br>

                        </div>
                    </div>
</body>
 <!--div class="container" >
    <div class="section">

      <!--   Icon Section   -->
      <!--div class="row">
        <div class="col s12 m8">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Speeds up development</h5>

            <p class="light">Hicimos la mayor parte del trabajo pesado para que usted proporcione un estilo predeterminado que incorpore nuestros componentes personalizados. Además, refinamos animaciones y transiciones para brindar una experiencia más fluida para los desarrolladores.</p>
          </div>
        </div>

        <div class="col s12 m8">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
              <h5 class="center">Registrate</h5>

            <p class="light">Al utilizar elementos y principios de Material Design, pudimos crear un marco que incorpora componentes y animaciones que brindan más comentarios a los usuarios. Además, un único sistema de respuesta subyacente en todas las plataformas permite una experiencia de usuario más unificada.</p>
          </div>
        </div>

        <div class="col s12 m8">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Easy to work with</h5>

            <p class="light">Hemos proporcionado documentación detallada, así como ejemplos de código específicos para ayudar a los nuevos usuarios a comenzar. También estamos siempre abiertos a comentarios y podemos responder cualquier pregunta que un usuario pueda tener sobre Materialise.</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>
  </div>

</body-->

{% if messages %}
          {% for message in messages %}
                        <div class="alert temp-alert {% if message.tags %}alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}" role="alert">{{ message }}</div>
          {% endfor %}
{% endif %}
    {% endif %}

{% endblock content %}
