{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	{% block extrastatic %} {% endblock %}

    <link rel="stylesheet" href="{% static 'css/tooltip.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/horizontal-menu/materialize.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/jquery.dataTables_themeroller.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/sweetalert.css' %}" type="text/css">

    <link rel="stylesheet" href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'lib/bootstrap/css/bootstrap.css' %}" type="text/css">

    <!--script src="% static 'lib/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
    <script src="% static 'lib/bootstrap/js/bootstrap.bundle.min.js' %}" type="text/javascript"></script-->

    <script type="text/javascript" src="{% static 'js/sweetalert.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/alertas.js' %}"></script>
	<title>{% block title %}Sistema Tutor OpenMind &copy;{% endblock %}</title>

</head>

<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/materialize.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/scrollspy.js' %}"></script>
<!-- Start Page Loading -->
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
<body>
<div class="container">
    <div class="row">
        {% block navbar %}
            <div class="col s12">
                <ul id="slide-out" class="side-nav">
                    {% if user.is_authenticated %}
                    <li>
                        <div class="user-view">
                            <div class="background"><img src="{% static 'images/office.jpg' %}">
                            </div>
                                <!--i class="material-icons left" style="font-size: 60px">account_circle</i-->
                                <a href="#!user"><img class="circle responsive-img" src="{% static 'images/avatar-7.png' %}"></a>
                                <a href="#!name"><span class="white-text name">{{ user.username }}</span></a>
                                <a href="#!email"><span class="white-text email">{{ user.email }}</span></a>
                        </div>
                    </li>

                    <ul class="collapsible collapsible-accordion">
                        <li class="bold"><a class="collapsible-header">Perfil</a>
                            <div class="collapsible-body">
                            <ul>
                                <li><a href="{% url 'preguntastest:preguntaslistar' %}">Preguntas</a></li>
                            </ul>
                            </div>
		                    <div class="collapsible-body">
                    	        <ul>
                                    <li><a href="{% url 'cursos:cursolistar' %}">Cursos</a></li>
                                    <!--li><a href="% url 'email_change' %}">Actualizar correo</a></li-->
                                </ul>
                            </div>
                            <div class="collapsible-body">
                    	        <ul>
                                    <li><a href="{% url 'ejercicios:ejercicioslistar' %}">Ejercicios</a></li>
                                </ul>
                            </div>

                            <div class="collapsible-body">
                                <ul>
                                    <li><a href="{% url 'password_change' %}">Actulizar contraseña</a></li>
                                </ul>
                            </div>
                        </li>
                  <li class="bold"><a class="collapsible-header">Roles</a>
                      <div class="collapsible-body">
                          <ul>
                              <li><a href="{% url 'cuestionario:cuestionariolistar' %}">Cuestionario</a></li>
                              <!--li><a href="% url 'datosusuario:datosusuario_buscar' %}">Usuarios</a></li-->
                          </ul>
                      </div>
                      <div class="collapsible-body">
                          <ul>
                       <li><a href="{% url 'inteligencias:inteligencias_listar' %}">Inteligencias</a></li>
                        <!--li><a href="% url 'tipousuario:tipobuscar' %}">Tipos de usuarios</a></li-->

                          </ul>
                      </div>


                    </ul>

                    <li><a href="{% url 'datosusuario:datosusuario_buscar' %}">Datos de usuario</a></li>
                    <li><a href="{% url 'usuario:datospersonales_buscar' %}">Usuarios</a></li>
                    <li><a href="{% url 'tipousuario:tipobuscar' %}">Tipos de usuarios</a></li>

                    <!--li><a href="% url 'preguntastest:preguntasbuscar' %}">Preguntas</a></li-->
                    <!--li><a href="% url 'cursos:cursobuscar' %}">Cursos</a></li-->
                    <li><a href="{% url 'temascursos:temas_curso_buscar' %}">Temas de los cursos</a></li>
                    <!--li><a href="% url 'ejercicios:ejerciciosbuscar' %}">Ejercicios</a></li-->
                    <li><a href="{% url 'distractorespregunta:distractorespreguntalistar' %}">Distractores</a></li>
                        {% else %} <!--#b2ff59-->
                        <b><li class="black-text"><a href="{% url 'bienvenida' %}">Open<em>mind</em></a></li></b>
                        <li><div class="divider"></div></li>
                        <li><a href="{% url 'sign_in' %}">Iniciar sesión<i class="material-icons">account_box</i></a></li> <br>
                        <li><a href="{% url 'sign_up' %}">Registrate<i class="material-icons">assignment</i></a></li> <br>

                       {% endif %}


                    <li><div class="divider"></div></li>
                {% if user.is_authenticated %}
                      <!--li> <a href="{% url 'password_change' %}">Cambio de contraseña</a></li-->
                    <li> <a style="background-color: #b4dbed" href="{% url 'sign_out' %}">Cerrar sesión<i class="material-icons right">exit_to_app</i></a></li>
                    <li><a class="subheader">&copy; 2021 OpenMind</a></li>

                {% else %}
                    <li><a href="{% url 'acerca_de' %}">Acerca de</a></li>
                    <li><a class="subheader">&copy; 2021 OpenMind</a></li>
                {% endif %}
                </ul>

                <div class="nav-wrapper">
                   <!-- <nav class="blue darken-4 page-header"> -->
                    <nav class="gradient-45deg-deep-purple-blue page-header">
                        <div class="nav-wrapper container">
                            <a href="#" data-activates="slide-out" class="show-on-large button-collapse"><i class="material-icons">menu</i></a>
                                {% if user.is_authenticated %}
                            <!--a href="{% url 'bienvenida' %}" class="brand-logo">{{ user.username }}<i class="material-icons">account_box</i></a-->
                            <a href="{% url 'bienvenida' %}" class="brand-logo">OpenMind</a>

                                <ul class="right hide-on-med-and-down">
                                    <!--li> {{ user.username }}<i class="material-icons left">account_box</i></li-->
                                    <!--li> <a href="{% url 'cursos:cursobuscar' %}"><i class="material-icons right">school</i></a></li-->
                                    <li> <a href="{% url 'preguntastest:preguntaslistar' %}">Preguntas<i class="material-icons left">mode_comment</i></a></li>
                                    <li> <a href="{% url 'cursos:cursolistar' %}">Cursos<i class="material-icons left">school</i></a></li>
                                    <li> <a href="{% url 'ejercicios:ejercicioslistar' %}">Ejercicios<i class="material-icons left">assignment</i></a></li>

                                    <li><a href="{% url 'sign_out' %}">Salir<i class="material-icons left">exit_to_app</i></a></li>
                                <!-- Dropdown Trigger -->
                            </ul>
                            {% else %}
                                    <ul class="left hide-on-med-and-down"><!--#b4dbed-- prurple --- #5e35b1---- #512da8 -->
                                         <!--a href="{% url 'bienvenida' %}" class="brand-logo">OpenMind</a-->
                                        <li><a href="{% url 'sign_in' %}">Iniciar sesión<i class="material-icons left">account_circle</i></a></li>
                                        <li><a href="{% url 'sign_up' %}">Registrate<i class="material-icons left">person_add</i></a></li>
                                    </ul>
                            {% endif %}
                          </div>
                    </nav>
                </div>
            </div>
            </div>
	{% endblock %}
  <div class="row">
  <div class="container">
        <!--div class="col s10"-->
	    {% block content %}
            <h4>	Bloque de contenido		</h4>
        {% endblock %}
</div>
      <!--div class="col s12"></div> </div>-->

  </div>
</div>

{% if user.is_authenticated %}
        {% block footer %}
<!--= gradient-45deg-blue-grey-blue =-->
<footer class="gradient-45deg-deep-purple-blue page-footer">
    <div class="container">
        <div class="row">
            <div class="col l8 s12">
                <a class="white-text" href="{% url 'bienvenida' %}" target="_blank">&copy; 2021 OpenMind</a>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="row">
                <div class="col l8 s12">
                    <a class="white-text text-lighten-1" href="http://www.italtamirano.edu.mx/" target="_blank">&nbsp; &nbsp; Instituto Tecnológico de Cd. Altamirano</a>
                </div>
            </div>
        </div>

</footer>
        {% endblock%}
{% else %}
{% endif %}

<!--  Scripts-->
<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/materialize.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/data-tables-script.js' %}"></script>
<script type="text/javascript" src="{% static 'js/init.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.collapsible.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/sweetalert.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/scrollspy.js' %}"></script>
<!--scrollbar-->
<script type="text/javascript" src="{% static 'js/perfect-scrollbar.min.js' %}"></script>
<!--plugins.js - Some Specific JS codes for Plugin Settings-->
<script type="text/javascript" src="{% static 'js/plugins.js' %}"></script>
<!--custom-script.js - Add your own theme custom JS-->
<script type="text/javascript" src="{% static 'js/custom-script.js' %}"></script>

<script type="text/javascript" src="{% static 'js/funcionesAjax.js' %}"></script>



<!--====================================================================================================================================-->
<script>
    $(document).ready(function() {
        $('.collapsible').collapsible();
        $('.button-collapse').sideNav({});
        $('.materialboxed').materialbox();
        $(".button-collapse").sideNav();
        $('.scrollspy').scrollSpy();
        $('.modal').modal();
        $('.sidenav').sidenav();
        $('.fixed-action-btn').floatingActionButton();
    });
    $(document).ready(function() {
        $('#usuarios').DataTable( {
            columnDefs: [
                {
                    targets: [ 0, 1, 2 ],
                    className: 'mdl-data-table__cell--non-numeric'
                }
            ]
        } );
    } );

    //Script
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.fixed-action-btn');
    var instances = M.FloatingActionButton.init(elems, options);
  });

  // Or with jQuery

  $(document).ready(function(){
    $('.fixed-action-btn').floatingActionButton();
  });

//Carousel
/*     document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.carousel');
    var instances = M.Carousel.init(elems, options);
  });

  // Or with jQuery

  $(document).ready(function(){
    $('.carousel').carousel();
  });

//Slider

    var instance = M.Carousel.init({
    fullWidth: true,
    indicators: true
  });

  // Or with jQuery

  $('.carousel.carousel-slider').carousel({
    fullWidth: true,
    indicators: true
  });


 /* $(document).ready(function () {
      $('.myCarousel').carousel

  });*/

</script>
	{% block extrajs %}
	{% endblock %}
</body>
</html>
