{% extends 'base/base.html' %}

{% block content %}
<div class="row">
    <div class="col s12 m12 l12">
        <table class="striped">
	        <thead>
		        <tr>
			        <th width="5%">Id de datos</th>
			        <th width="25%">Nombres</th>
			        <th width="20%">Apellido paterno</th>
                    <th width="20%">Apellido materno</th>
			        <th width="5%">Edad</th>
                    <th width="5%">Tipo de usuario</th>
                    <th width="5%">Nombre de usuario</th>
                    <th width="5%">Mostrar</th>
                    <th width="5%">Editar</th>
                    <th width="5%">Borrar</th>
                </tr>
            </thead>
            <tbody>
		        {% if object_list %}
                        {% for datospersonales in object_list %}
		        <tr>
			        <td>{{ datospersonales.id_datos }}</td>
			        <td>{{ datospersonales.nombre }}</td>
			        <td>{{ datospersonales.a_paterno }}</td>
			        <td>{{ datospersonales.a_materno }}</td>
			        <td>{{ datospersonales.edad }}</td>
			        <td>{{ datospersonales.tipo_usuario }}</td>
                    <td>{{ datospersonales.datos_cuenta }}</td>
			        <td>
				         <a class="btn-floating gradient-45deg-amber-amber" href="{% url 'usuario:datospersonales_mostrar' datospersonales.id_datos %}"><i class="large material-icons">search</i></a>
                    </td>
                    <td>
				        <a class="btn-floating gradient-45deg-indigo-light-blue" href="{% url 'usuario:datospersonales_editar' datospersonales.id_datos %}"><i class="large material-icons">create</i></a>
                    </td>
                    <td>
				        <a class="btn-floating red darken-4" href="{% url 'usuario:datospersonales_eliminar' datospersonales.id_datos %}"><i class="large material-icons">delete</i></a>
			        </td>
		        </tr>
		        {% endfor %}

                {% else %}
		            <tr>
                        <td colspan="10"><h1>No Existen Registros Personales</h1></td>
                    </tr>
		        {% endif %}
            </tbody>
        </table>
    </div>
</div>
    <div class="row">
        <div class="col s12 m12 l12">
            <ul class="pagination">
	            <li>
		        {% if page_obj.has_previous %}
       	            <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
		        {% endif %}
                </li>
	            <li>
		        {% if page_obj.has_next %}
     	            <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
    	        {% endif %}
                </li>
            </ul>
        </div>
    </div>

{% endblock%}