
{% extends 'base/base.html' %}

{% block content %}
<div class="row">
    <div class="col s12 m12 l12">
        <table class="table-bordered">
           <tr>
               <td width="15%">
                   <b>Id:</b>
               </td>
               <td>
                   {{ object.id_usuario }}
               </td>
           </tr>
            <tr>
               <td width="15%">
                   <b>Nombre de usuario:</b>
               </td>
               <td>
                   {{ object.usuario }}
               </td>
           </tr>
        </table>
        <p>

        </p>
        <a class="btn-floating gradient-45deg-amber-amber tooltipped" data-position="top" data-tooltip="Ok" href="{% url 'datosusuario:datosusuario_buscar' %}"><i class="material-icons">check</i></a>
        <a class="btn-floating gradient-45deg-indigo-light-blue tooltipped" data-position="top" data-tooltip="Editar" href="{% url 'datosusuario:datosusuario_editar' object.id_usuario%}"><i class="material-icons">create</i></a>
        <a class="btn-floating red darken-4 tooltipped" data-position="top" data-tooltip="Borrar" href="{% url 'datosusuario:datosusuario_eliminar' object.id_usuario %}"><i class="material-icons">delete</i></a>
    </div>
</div>


{% endblock %}