{% extends 'base/base.html' %}

{% block content %}

<div class="row">
        <div class="col-sm-12"> <h3 align="center">Sección Preguntas</h3>

 <div class="fixed-action-btn" style="width: 200px; height: 550px;">
        <a class="btn-floating btn-large gradient-45deg-deep-purple-blue tooltipped" data-position="top"  data-tooltip="Agregar pregunta" href="{% url 'preguntastest:preguntascrear' %}">
            <i class="large material-icons">mode_edit</i>
        </a>
    </div>

      <h4>Buscar</h4> <br>
            <form method="get" action="{% url 'preguntastest:preguntasbuscar' %}">
           <div class="col s6 m6 l6">
            Nombre de curso: &nbsp {{ filter.form.pregunta }}
               </div>
            <div class="col s2 m2 l2">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
            </div>
            </form>
        </div>
    </div>
                {% if object_list %}
		        {% for preguntas_test_inteligencia in object_list %}

<div class="row">
    <div class="col-md-4 offset-md-4">
            <div class="card gradient-45deg-blue-grey-blue">
                <div class="card-content white-text">

                    <span class="card-title"> <b>{{ preguntas_test_inteligencia.pregunta }}</b></span>
                    <p>ID: {{ preguntas_test_inteligencia.id_pregunta_test }} </p>
                    <p>No. pregunta: {{ preguntas_test_inteligencia.num_pregunta }} </p>
                    <p>Tipo de Inteligencia: {{ preguntas_test_inteligencia.inteligencias }} </p>
                    <!--div class="card-action">
                    </div-->

                </div>
                    <div class="card-action">
                    <a class="btn-floating gradient-45deg-green-teal tooltipped" data-position="top" data-tooltip="Ver" href="{% url 'preguntastest:preguntasmostrar' preguntas_test_inteligencia.id_pregunta_test %}"><i class="material-icons">zoom_in</i> </a>
                    <a class="btn-floating gradient-45deg-indigo-light-blue tooltipped" data-position="top" data-tooltip="Editar" href="{% url 'preguntastest:preguntaseditar' preguntas_test_inteligencia.id_pregunta_test %}"><i class="material-icons">create</i></a>
                    <a class="btn-floating gradient-45deg-red-pink tooltipped" data-position="top" data-tooltip="Eliminar" href="{% url 'preguntastest:preguntaseliminar' preguntas_test_inteligencia.id_pregunta_test %}"><i class="material-icons">delete</i></a>
               </div>


        </div>
    </div>
</div>
        {% endfor %}
                {% else %}
		            <br> <br> <br> <h2>No hay registros de pregunta</h2>
                {% endif %}

    {% if is_paginated %}
     <div class="row">
        <div class="col s12 m12 l12">
            <ul class="pagination justify-content-center">

                {% if page_obj.has_previous %}
       	        <li class="waves-effect">

       	            <a href="?page={{ page_obj.previous_page_number }}"><i class="material-icons">navigate_before</i></a>
		        </li>
                {% endif %}

                {% for i in paginator.page_range %}
                <li {% if page_obj.number == i %} class="active" {% endif %}>
                    <a href="?page={{ i }}" class="page-item">{{ i }}</a>
                </li>
                {% endfor %}

                {% if page_obj.has_next %}
     	        <li class="waves-effect">
     	            <a href="?page={{ page_obj.next_page_number }}"><i class="material-icons">navigate_next</i></a>
    	        </li>
                {% endif %}

            </ul>
        </div>
    </div>
        {% endif %}

{% endblock%}