{% extends 'base/base.html' %}

 {% block content %}
<div class="row">
        <div class="col-sm-12"> <h3 align="center">Sección Preguntas</h3>

 <div class="fixed-action-btn" style="width: 200px; height: 550px;">
        <a class="btn-floating btn-large gradient-45deg-deep-purple-blue tooltipped" data-position="top"  data-tooltip="Agregar pregunta" href="{% url 'preguntastest:preguntascrear' %}">
            <i class="large material-icons">mode_edit</i>
        </a>
    </div>

      <h4>Buscar</h4> <br>
            <form method="get" action="{% url 'preguntastest:preguntasbuscar' %}">
           <div class="col s6 m6 l6">
            Nombre de curso: &nbsp {{ filter.form.nombre_ejercicio}}
               </div>
            <div class="col s2 m2 l2">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
            </div>
            </form>
        </div>
    </div>
            {% if filter.qs %}
		        {% for ejercicios in filter.qs %}
<div class="row">
    <div class="col-md-4 offset-md-4">
            <div class="card gradient-45deg-blue-grey-blue">
                <div class="card-content white-text">

                    <span class="card-title"> <b>{{ ejercicios.nombre_ejercicio }}</b></span>
                    <p>ID: {{ ejercicios.id_ejercicio }} </p>
                    <p>No. pregunta: {{ ejercicios.puntaje }} </p>
                    <p>Tipo de Inteligencia: {{ ejercicios.temas_curso }} </p>
                    <!--div class="card-action">
                    </div-->

                </div>
                     <div class="card-action">
                    <a class="btn-floating gradient-45deg-green-teal tooltipped" data-position="top" data-tooltip="Ver" href="{% url 'ejercicios:ejerciciosmostrar' ejercicios.id_ejercicio %}"><i class="material-icons">zoom_in</i> </a>
                    <a class="btn-floating gradient-45deg-indigo-light-blue tooltipped" data-position="top" data-tooltip="Editar" href="{% url 'ejercicios:ejercicioseditar' ejercicios.id_ejercicio %}"><i class="material-icons">create</i></a>
                    <a class="btn-floating gradient-45deg-red-pink tooltipped" data-position="top" data-tooltip="Eliminar" href="{% url 'ejercicios:ejercicioseliminar' ejercicios.id_ejercicio %}"><i class="material-icons">delete</i></a>
               </div>


        </div>
    </div>
</div>
                {% endfor %}
                {% else %}
		            <br> <br> <br> <h2>No hay registros de ejercicios</h2>
                {% endif %}

 {% endblock%}