
{% extends 'base/base.html' %}

{% block content %}

<div class="row">
     <div class="col-sm-12"> <h3 align="center">Sección Ejercicios</h3>
        </div>
    </div>

<div class="row">
    <div class="col-md-4 offset-md-4">
            <div class="card gradient-45deg-blue-indigo">
                <div class="card-content white-text">

                    <span class="card-title"> <b>{{ object.nombre_ejercicio }}</b></span>
                    <p>ID: {{ object.id_ejercicio }} </p>
                    <p>No. pregunta: {{ object.puntaje }} </p>
                    <p>Tipo de Inteligencia: {{ object.temas_curso }} </p>
                    <!--div class="card-action">
                    </div-->

                </div>
                    <div class="card-action">
                        <a class="btn-floating gradient-45deg-amber-amber tooltipped" data-position="top" data-tooltip="Ok" href="{% url 'ejercicios:ejercicioslistar' %}"><i class="material-icons">check</i></a>
                        <a class="btn-floating gradient-45deg-indigo-light-blue tooltipped" data-position="top" data-tooltip="Editar" href="{% url 'ejercicios:ejercicioseditar' object.id_ejercicio %}"><i class="material-icons">create</i></a>
                        <a class="btn-floating red darken-4 tooltipped" data-position="top" data-tooltip="Borrar" href="{% url 'ejercicios:ejercicioseliminar' object.id_ejercicio %}"><i class="material-icons">delete</i></a>
                    </div>
        </div>
    </div>
</div>



{% endblock %}