
{% extends 'base/base.html' %}

{% block content %}
    <div class="row">
        <!--div class="col s12 m8 l4"-->
        <div class="col-md-4 offset-md-4">
            <h3 align="center">Ejercicio nuevo</h3>
            <form method="post">
	            {% csrf_token %}
	            {{ form.as_p }}
	            <button class="btn btn-primary" type="submit">Guardar<i class="material-icons right">send</i></button> &nbsp; &nbsp; &nbsp; &nbsp;
	            <a class= "btn btn-danger" href="{% url 'ejercicios:ejercicioslistar'%}">Cancelar<i class="material-icons right">cancel</i></a>
            </form>
        </div>
    </div>
{% endblock %}