{% extends "base/base.html" %}
{% block title %}Acerca de{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <h1 class="mt-4">Acerca de</h1>
        <hr>
        <img class="img-fluid rounded" src="/static/img2/itca.jpeg" alt="">
        <hr>
        <p class="lead">El sistema tutor inteligente se desarrolló en el instituto tecnológico de ciudad altemirano (ITCA), en la academia de informática, dentro de la linea de investigación desarrollo de sistemas e-learning y b-learning</p>
        <p>El sitema tutor inteligente se desarrolló mediante el framework Django y el framework Bootstrap, los cuales facilitan el desarrollo del sistema debido a que son herramientas que permiten agilizar los procesos de desarrollo
            y evita tener que escribir código de forma repititiva, asegura buenas practicas y la consistencia el código  </p>
        <!--p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, doloribus, dolorem iusto blanditiis unde eius illum consequuntur neque dicta incidunt ullam ea hic porro optio ratione repellat perspiciatis. Enim, iure!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, doloribus, dolorem iusto blanditiis unde eius illum consequuntur neque dicta incidunt ullam ea hic porro optio ratione repellat perspiciatis. Enim, iure!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, nostrum, aliquid, animi, ut quas placeat totam sunt tempora commodi nihil ullam alias modi dicta saepe minima ab quo voluptatem obcaecati?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, dolor quis. Sunt, ut, explicabo, aliquam tenetur ratione tempore quidem voluptates cupiditate voluptas illo saepe quaerat numquam recusandae? Qui, necessitatibus, est!</p-->
        <p>Asesores de proyecto: M.C. Leonel Gonzalez Vidales y L.I. Anselmo Vieyra Santibañez.</p>
        <hr>
      </div>
    </div>
  </div>
{% endblock %}