{% extends 'base/base.html' %}

{% block content %}

<div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card">
        <div class="card-image">
          <img style="width: 100%;" src="{{ curso.image.url }}">

          <a class="btn-floating btn-large halfway-fab waves-effect waves-light gradient-45deg-green-teal tooltipped" data-position="top" data-tooltip="Editar" href="{% url 'cursos:cursoeditar' curso.id_curso %}"><i class="material-icons">create</i></a>
        </div>
        <div class="card-content">
            <span class="card-title"><b>{{ curso.nombre_curso }}</b></span>
       <p>
           <a class="btn-floating gradient-45deg-green-teal tooltipped" data-position="top" data-tooltip="OK" href="{% url 'cursos:cursolistar' %}"><i class="material-icons">check</i></a> &nbsp;&nbsp; &nbsp; &nbsp;
           <!--a class="btn-floating gradient-45deg-indigo-light-blue tooltipped" data-position="top" data-tooltip="Editar" href=" url 'cursos:cursoeditar' curso.id_curso %}"><i class="material-icons">create</i></a-->
           <a class="btn-floating gradient-45deg-red-pink tooltipped" data-position="top" data-tooltip="Eliminar" href="{% url 'cursos:cursoeliminar' curso.id_curso %}"><i class="material-icons">delete</i></a>
       </p> <!--p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p-->
        </div>
      </div>
    </div>
</div>

{% endblock %}