{% extends 'base/base.html' %}

{% block content %}
    <div class="row">
        <h4>EDITAR CURSO - <b> {{ object.nombre_curso }}</b></h4>
        <div class="col s12 m8 l4">
            <form method="post">
	            {% csrf_token %}
	            {{ form.as_p }}
	            <button class="btn purple" type="submit">Guardar<i class="material-icons right">send</i></button> &nbsp; &nbsp; &nbsp; &nbsp;
	            <a class= "btn red" href="{% url 'cursos:cursobuscar' %}">Cancelar<i class="material-icons right">cancel</i></a>
            </form>
        </div>
    </div>
{% endblock %}